@use "../../styles/variables" as v;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-height: 60vh;
  overflow: scroll;
  padding-right: 15px;
  padding-left: 5px;
}

.actions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 20px;
  border-top: 1px solid v.$color-border;
}

.cancelButton {
  font-size: 16px;
  padding: 10px 24px;
}
