.tabsBilling {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ededed;
  padding: 10px 12px;
  box-sizing: border-box;
}

.tab {
  position: relative;
  cursor: pointer;
  color: #5d5d5d;
  transition: color 0.3s ease, opacity 0.3s ease;
  font-weight: 400;

  // Обёртка для текста
  &::before {
    content: attr(data-label);
    visibility: hidden;
    display: block;
    font-weight: 500; // самый "тяжёлый"
    height: 0;
    overflow: hidden;
  }

  &.active {
    color: #0d0d0d;
    font-weight: 500;
  }

  &:hover {
    color: #0d0d0d;
  }
}

.underline {
  position: absolute;
  top: 100%;
  translate: 0 10px;
  background: #000;
  width: 100%;
  height: 1px;
}
