.cancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 8px;
  background: #fff;
  color: #282828;
  font-size: 14px;
  font-weight: 500;
  border: none;

  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    background: #e9e9e9;
  }
}
