.layout {
  background: var(--color-bg);
  box-sizing: border-box;
  min-height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "leftMenu children";
  margin: 0 10px 10px 10px;

  border-radius: 8px;
  border: 1px solid var(--borer-color);

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "children";
  }
}

.leftMenu {
  grid-area: leftMenu;
  padding: 0 10px;
  border-right: 1px solid var(--borer-color);
  position: relative;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.children {
  grid-area: children;
  flex-shrink: 0;
  padding: 50px 4em;
  height: 100%;

  &.apiKeys {
    padding: 24px;

    @media screen and (max-width: 1023px) {
      padding: 12px;
    }
  }

  @media screen and (max-width: 1439px) {
    padding: 24px;
  }

  @media screen and (max-width: 767px) {
    padding: 12px;
  }
}
