@use "../../styles/variables" as v;

.page {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 8px;
}

.empty {
  color: v.$color-text-light;
  padding: 80px 0;
}
