@use "../../styles/variables" as v;

.hintContainer {
  display: inline-flex;
  align-items: center;
}

.hintTarget {
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 8px;
}

.hintTriggerWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.hintIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hintTooltip {
  position: absolute;
  z-index: 10;
  padding: 8px 12px;
  background-color: v.$color-text-dark;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(226 217 217 / 0.2);
  min-width: 270px;
  max-width: 350px;
  font-size: 14px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  white-space: pre-line;

  &.maxWidth {
    min-width: auto;
    width: max-content;
  }
}

.hintTooltip img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}

.hintTooltip ol,
.hintTooltip ul {
  padding-left: 20px;
  margin-top: 5px;
}

.hintTooltip li {
  margin-bottom: 5px;
}

.hintTooltip {
  &.top {
    bottom: calc(100% + 10px);
    left: 50%;
    translate: -50% 0;
  }

  &.right {
    left: calc(100% + 10px);
    top: 50%;
    translate: 0 -50%;
  }

  &.left {
    right: calc(100% + 10px);
    top: 50%;
    translate: 0 -50%;
  }

  &.bottom {
    top: calc(100% + 10px);
    left: 50%;
    translate: -50% 0;
  }
}
