.button {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 99px;

  background: var(--color-accent); /* градиент */
  color: var(--color-text-invert);

  font-size: 1rem;
  font-family: "Nunito";
  line-height: 1.5rem;
  text-align: center;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.2s ease-in;

  /* динамическая тень под цвет градиента */
  box-shadow: 0 6px 24px rgba(34, 197, 94, 0.25); /* ~ зелёный primary */

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 32px rgba(34, 197, 94, 0.35);
  }

  &.loading {
    opacity: 0.7;
    cursor: wait;

    &:hover {
      background-position: 100% 50%;
      box-shadow: 0 10px 32px rgba(34, 197, 94, 0.35);
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-position: 100% 50%;
      box-shadow: 0 6px 24px rgba(34, 197, 94, 0.2);
      transform: none;
    }
  }

  &.secondary {
    width: max-content;
    border-radius: 8px;
    padding: 10px 24px;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.leftIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
