/* Переменные, использующие ваши основные цвета */
$color-primary: #16a34a;
$color-accent-start: #22c55e;
$color-accent-end: #06b6d4;

/* Цвета для текста и фона */
$color-text-dark: #1f2937;
$color-text-light: #6b7280;
$color-background: #f9fafb;
$color-border: #e5e7eb;

$color-bg-light: #f9fafb;
$color-reset-gray: #9ca3af;

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.filterBar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid $color-border;
}

.calendarControls {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 8px;
  align-items: center;
}

.filterButton {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 46px;
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: 600;
  color: $color-text-dark;
  background-color: #ffffff;
  border: 1px solid $color-border;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: $color-primary;
    color: $color-primary;
  }
}

.resetDateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  padding: 0;
  color: $color-text-light;
  background-color: #ffffff;
  border: 1px solid $color-border;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: #dc2626;
    border-color: #dc2626;
  }
}

.calendarModal {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 10px;
  display: flex;
  flex-direction: column;

  :global(.rdrCalendarWrapper) {
    box-shadow: none !important;
    border-radius: 8px;
  }

  :global(.rdrDateRangeWrapper .rdrDateDisplayWrapper) {
    display: none;
  }
}

.applyFilterButton {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background-color: $color-primary;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.resetFilterButton {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  background-color: #ffffff;
  color: $color-reset-gray;
  border: 1px solid $color-border;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;

  &:hover {
    background-color: $color-bg-light;
    color: $color-text-dark;
  }
}

.employeesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.employees {
  margin-bottom: 40px;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: $color-text-dark;
  margin-bottom: 20px;
  // Небольшая зеленая линия для акцента
  border-left: 4px solid $color-primary;
  padding-left: 12px;
  text-align: left;
}

.employeeGrid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noData {
  grid-column: 1 / -1;
  text-align: center;
  color: $color-text-light;
  padding: 50px 0;
  border: 1px dashed $color-border;
  border-radius: 8px;
}
