@use "../../styles/variables" as v;

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.filterBar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid v.$color-border;
}

.calendarControls {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 8px;
  align-items: center;
}

.filterButton {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 46px;
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: 600;
  color: v.$color-text-main;
  background-color: v.$color-white;
  border: 1px solid v.$color-border;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: v.$color-primary;
    color: v.$color-primary;
  }
}

.resetDateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  padding: 0;
  color: v.$color-text-light;
  background-color: v.$color-white;
  border: 1px solid v.$color-border;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: v.$color-mandatory;
    border-color: v.$color-mandatory;
  }
}

.calendarModal {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: v.$color-white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 10px;
  display: flex;
  flex-direction: column;

  :global(.rdrCalendarWrapper) {
    box-shadow: none !important;
    border-radius: 8px;
  }

  :global(.rdrDateRangeWrapper .rdrDateDisplayWrapper) {
    display: none;
  }
}

.applyFilterButton {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background-color: v.$color-primary;
  color: v.$color-white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.resetFilterButton {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  background-color: v.$color-white;
  color: v.$color-reset-gray;
  border: 1px solid v.$color-border;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;

  &:hover {
    background-color: v.$color-bg-light;
    color: v.$color-text-main;
  }
}

.employeesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.employees {
  margin-bottom: 40px;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: v.$color-text-main;
  margin-bottom: 20px;
  border-left: 4px solid v.$color-primary;
  padding-left: 12px;
  text-align: left;
}

.employeeGrid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noData {
  grid-column: 1 / -1;
  text-align: center;
  color: v.$color-text-light;
  padding: 50px 0;
  border: 1px dashed v.$color-border;
  border-radius: 8px;
}
