.page {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media screen and (max-width: 1439px) {
    gap: 20px;
  }

  @media screen and (max-width: 1023px) {
    gap: 16px;
  }

  @media screen and (max-width: 767px) {
    gap: 12px;
  }
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancelButton {
  padding: 10px 24px;
}
