.page {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancelButton {
  padding: 10px 24px;
}
