@use "../../styles/variables" as v;

.card {
  background-color: v.$color-white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  max-width: 350px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: 1439px) {
    max-width: none;
  }
}

.headerAccent {
  height: 4px;
  background: linear-gradient(
    135deg,
    v.$color-accent-start 0%,
    v.$color-accent-end 100%
  );
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 8px;
}

.content {
  padding: 24px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: v.$color-text-dark;
  margin-bottom: 8px;

  line-height: 1.3;

  max-height: 2.6em;
  overflow: hidden;
  text-overflow: ellipsis;

  word-wrap: break-word;

  min-height: calc(2 * 1.5rem * 1.3);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;

  @media screen and (max-width: 420px) {
    font-size: 1.3rem;
    margin-bottom: 4px;
  }
}

.description {
  font-size: 0.95rem;
  color: v.$color-text-light;
  margin-bottom: 24px;
  line-height: 1.4;
  max-height: 2.8em;
  overflow: hidden;

  word-wrap: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;

  min-height: calc(2 * 0.95rem * 1.4);

  @media screen and (max-width: 420px) {
    font-size: 0.9rem;
    margin-bottom: 0px;
  }
}

.dataGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
  border-top: 1px solid v.$color-border;
  padding-top: 16px;

  @media screen and (max-width: 420px) {
    gap: 12px;
    margin-bottom: 16px;
  }
}

.dataItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkInTime,
.employeeCount,
.checkOutTime {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  color: v.$color-primary;
  margin-bottom: 4px;
}

.dataLabel {
  font-size: 0.8rem;
  color: v.$color-reset-gray;
  font-weight: 500;
  white-space: nowrap;

  @media screen and (max-width: 420px) {
    font-size: 0.75rem;
  }
}

.dataValue {
  font-size: 1rem;
  font-weight: 600;
  color: v.$color-text-secondary;

  @media screen and (max-width: 420px) {
    font-size: 0.9rem;
  }
}

.checkIn {
  color: v.$color-primary;
}

.isDefault {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  @media screen and (max-width: 420px) {
    margin: 0;
    margin-bottom: 15px;
  }
}
