@use "../../../styles/variables" as v;
@use "sass:color";

.passwordInputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.passwordActions {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.passwordInputs {
  .inputWrapper {
    padding: 10px 24px;
    border-radius: 18px;
    .inputLabel {
      font-size: 14px;
      margin: 0;
    }

    .input {
      font-size: 14px;
    }
  }
}

.iconBlock {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;

  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    background: rgb(225 225 225);
  }
}

.primaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 14px;
  border-radius: 8px;
  border: 0;
  background: v.$exit-button;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: 14px;
  font-weight: 500;
  min-width: 140.16px;

  &:hover:not([disabled]) {
    background: color.adjust(v.$exit-button, $lightness: 10%);
  }

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
