@use "../../styles/variables" as v;

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputWrapper {
  position: relative;
  width: 100%;
  border: 1px solid v.$color-border;
  border-radius: 9999px;
  padding: 14px 1.25rem;
  transition: all 0.2s ease;
  background: v.$color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .label {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: v.$color-text-light;
    pointer-events: none;
    transition: all 0.2s ease;
    background: transparent;

    @media screen and (max-width: 1023px) {
      font-size: 14px;
    }
  }

  .input {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: 16px;
    color: v.$color-text-dark;

    &::placeholder {
      color: transparent;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 1000px v.$color_white inset !important;
      -webkit-box-shadow: 0 0 0 1000px v.$color_white inset !important;
      -webkit-text-fill-color: v.$color-text-dark !important;
      transition: background-color 9999s ease-out 0s;
    }

    &:-moz-autofill {
      box-shadow: 0 0 0 1000px v.$color_white inset !important;
      -moz-box-shadow: 0 0 0 1000px v.$color_white inset !important;
      -moz-text-fill-color: v.$color-text-dark !important;
    }
  }

  &.filled {
    .label {
      top: 0px;
      left: 24px;
      font-size: 1rem;
      color: v.$color-text-light;
      background: v.$color_white;
      padding: 0 6px;
      @media screen and (max-width: 1023px) {
        font-size: 14px;
      }
    }
  }

  &.focused {
    border-color: var(--color-primary);

    .label {
      top: 0px;
      left: 24px;
      font-size: 1rem;
      color: var(--color-primary);
      background: v.$color_white;
      padding: 0 6px;

      @media screen and (max-width: 1023px) {
        font-size: 14px;
      }
    }
  }

  &.error {
    border-color: var(--color-danger);

    .label {
      top: 0px;
      left: 24px;
      font-size: 1rem;
      color: var(--color-danger);
      background: v.$color_white;
      padding: 0 6px;

      @media screen and (max-width: 1023px) {
        font-size: 14px;
      }
    }
  }
}

.errorMessage {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 18px;

  font-size: 12px;
  font-weight: 400;
  color: var(--color-danger);
}
