.switchers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 15px;
  padding-left: 5px;

  @media screen and (max-width: 1239px) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.switcherLabel {
  //   width: 171px;
  text-align: left;

  @media screen and (max-width: 1239px) {
    width: 175px;
  }
}
