@use "../../styles/variables" as *;

.banner {
  background: $linear-badge-primary;
  border: 1px solid rgba(22, 163, 74, 0.25);
  border-radius: 10px;
  padding: 14px 18px;
  //   margin: 12px 0 20px;
  position: relative;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  color: $color-text-secondary;
  animation: fadeIn 0.4s ease;

  @media screen and (max-width: 340px) {
    padding: 14px 9px;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 14px;
}

.text {
  font-size: 0.95rem;
  line-height: 1.4;

  @media screen and (max-width: 340px) {
    font-size: 0.9rem;
  }
}

.closeBtn {
  //   position: absolute;
  //   top: 10px;
  //   right: 10px;
  background: transparent;
  border: none;
  color: $color-text-light;
  cursor: pointer;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

.linkBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color-bg-light;
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid $color-border;
  font-family: monospace;

  @media screen and (max-width: 340px) {
    flex-direction: column;
  }
}

.link {
  font-weight: 500;
  color: $color-primary;
  animation: pulseGlow 2s infinite;
  white-space: pre-line;
  word-wrap: break-word;
}

.copyBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: $gradient-primary;
  border: none;
  color: $color_white;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: transform 0.2s, box-shadow 0.2s;
  &:hover {
    transform: translateY(-1px);
    box-shadow: $color-shadow-primary-hover;
  }

  @media screen and (max-width: 340px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
  }
}

@keyframes pulseGlow {
  0%,
  100% {
    text-shadow: 0 0 4px rgba(34, 197, 94, 0.6);
  }
  50% {
    text-shadow: 0 0 12px rgba(6, 182, 212, 0.8);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
