@use "../../styles/variables" as v;
@use "sass:color";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  user-select: none;
}

.logo {
  cursor: pointer;
}

.block {
  display: flex;
  align-items: center;
  gap: 25px;

  & .logoutButton {
    padding: 8px 24px;
    background: v.$exit-button;
    transition: all 0.3s ease-in;
    font-weight: 400;
    box-shadow: none;
    min-width: 123px;

    &:hover {
      background: color.adjust(v.$exit-button, $lightness: 10%);
      box-shadow: none;
      transform: none;
    }
  }
}

.settings {
  padding: 8px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  border-radius: 5px;

  transition: all 0.3s ease-in;

  cursor: pointer;

  &:hover {
    background: #e9e9e9;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  & .supportButton {
    width: max-content;
    padding: 8px 24px;
  }
}
