@use "sass:color";
@use "../../styles/variables" as v;

.label {
  display: block;
  margin-bottom: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  color: v.$color-text-dark;
  text-align: left;
}

.inputWrapper {
  display: flex;
  align-items: center;
  background-color: v.$color-white;
  width: 100%;
  box-sizing: border-box;

  border: 1px solid v.$color-border;
  border-radius: 8px;
  box-shadow: 0 1px 3px v.$color-shadow-light;
  outline: none;

  transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

  &:hover {
    border-color: color.adjust(v.$color-border, $lightness: -5%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  }

  &:focus-within {
    border-color: v.$color-primary;
    box-shadow: 0 0 0 3px color.adjust(v.$color-primary, $lightness: 35%),
      0 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.icon {
  color: v.$color-text-light;
  margin-left: 12px;
  .inputWrapper:focus-within & {
    color: v.$color-primary;
  }
}

.input {
  flex-grow: 1;

  padding: 12px 16px 12px 10px;

  font-size: 1rem;
  line-height: 1.5;
  color: v.$color-text-main;

  border: none;
  outline: none;
  background: transparent;

  &::placeholder {
    color: v.$color-text-light;
    opacity: 0.8;
  }
}
