@use "../../styles/variables" as v;

.pageContent {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media screen and (max-width: 1023px) {
    gap: 20px;
  }

  @media screen and (max-width: 767px) {
    gap: 16px;
  }

  @media screen and (max-width: 425px) {
    gap: 12px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.empty {
  color: v.$color-text-light;
  padding: 80px 0;
}

.employeeName {
  font-style: italic;
  line-height: 1.3;
}

.mobileCards {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 1334px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1083px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
