@use "../../styles/variables" as v;

.pageContent {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.empty {
  color: v.$color-text-light;
  padding: 80px 0;
}

.employeeName {
  font-style: italic;
  line-height: 1.3;
}
