$color-primary: #16a34a;
$color-accent-start: #22c55e;
$color-accent-end: #0088cc;
$color-text-dark: #1f2937;
$color-text-light: #6b7280;
$color-border: #e5e7eb;
$color-bg-light: #f9fafb;

/* Цвета статусов */
$color-status-done: #10b981;
$color-status-late: #f59e0b;
$color-status-failed: #ef4444;

.pageContent {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.telegram {
  display: flex;
  align-items: center;
  gap: 4px;
}

.valueLink {
  @extend .value;
  color: $color-accent-end;
  text-decoration: none;
  border-bottom: 1.5px solid transparent;
  transition: all 0.3s ease-in;
  line-height: 100%;
  &:hover {
    border-bottom: 1.5px solid $color-accent-end;
  }
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  align-items: flex-start;
}

.profileSummary {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.profileHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid $color-border;
  text-align: left;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(45deg, $color-accent-start, $color-accent-end);
}

.position {
  font-size: 1.2rem;
  font-weight: 600;
  color: $color-text-dark;
  line-height: 1.3;
}

.role {
  font-size: 0.9rem;
  color: $color-text-light;
}

/* Статус "На работе" */
.statusPill {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  //   padding: 6px 12px;
  //   border-radius: 20px;
  //   margin-bottom: 25px;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &.on {
    // background-color: lighten($color-status-done, 40%);
    color: $color-status-done;
    .dot {
      background-color: $color-status-done;
    }
  }
  &.off {
    // background-color: lighten($color-status-failed, 25%);
    color: $color-status-failed;
    .dot {
      background-color: $color-status-failed;
    }
  }
}

/* Список данных */
.dataList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

.dataItem {
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
  gap: 10px;

  .iconPrimary {
    color: $color-primary;
  }
  .label {
    font-size: 0.9rem;
    color: $color-text-light;
  }
  .value {
    font-size: 0.95rem;
    font-weight: 500;
    color: $color-text-dark;
  }
}

.icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.valueContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Кнопки действий */
.actions {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  border-top: 1px dashed $color-border;
}
.editButton,
.deleteButton {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 15px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
}
.editButton {
  background-color: $color-primary;
  color: #ffffff;
  &:hover {
    background-color: darken($color-primary, 5%);
  }
}
.deleteButton {
  background-color: $color-bg-light;
  color: $color-text-dark;
  border: 1px solid $color-border;
  &:hover {
    background-color: #f3f4f6;
  }
}

/* === 2. ПРАВАЯ КОЛОНКА (ИСТОРИЯ) === */

.historySection {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.historyTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: $color-text-dark;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border;
}

.historyList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
