@use "../../../styles/variables" as v;

.basicTaskDetails {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.row {
  display: flex;
  align-items: start;
  gap: 20px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-sizing: border-box;
  padding-left: 5px;

  &:last-child {
    padding-bottom: 5px;
  }
}

.label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: v.$color-text-dark;
  text-align: left;
}
