@use "../../styles/variables" as v;

.profileSummary {
  padding: 20px;
  background-color: v.$color-white;
  border-radius: 12px;
  box-shadow: 0 4px 12px v.$color-shadow-light;
}

.profileHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid v.$color-border;
  text-align: left;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: v.$color-white;
  background: linear-gradient(
    45deg,
    v.$color-accent-start,
    v.$color-accent-end
  );
}

.position {
  font-size: 1.2rem;
  font-weight: 600;
  color: v.$color-text-main;
  line-height: 1.3;
}

.statusPill {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  font-weight: 600;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &.on {
    color: v.$color-status-done;
    .dot {
      background-color: v.$color-status-done;
    }
  }
  &.off {
    color: v.$color-status-failed;
    .dot {
      background-color: v.$color-status-failed;
    }
  }
}

.dataList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

.dataItem {
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: start;
  gap: 10px;
}

.icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.valueContainer {
  display: inline-block;
  text-align: left;
}

.iconPrimary {
  color: v.$color-primary;
}

.label {
  font-size: 0.9rem;
  color: v.$color-text-light;
}

.value {
  white-space: pre-line;
  font-size: 0.95rem;
  font-weight: 500;
  color: v.$color-text-main;
  margin-left: 4px;
}

.actions {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  border-top: 1px dashed v.$color-border;
}

.contactButton,
.editButton,
.deleteButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: max-content;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;

  background-color: v.$color-bg-base;
  border: 1px solid v.$color-border;
  color: v.$color-text-secondary;

  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  font-weight: 500;

  &:active {
    transform: scale(0.98);
  }
}

.contactButton {
  & svg {
    color: v.$color-attention;
  }

  &:hover {
    color: v.$color-attention;
    background-color: rgba(v.$color-attention, 0.05);
    border-color: rgba(v.$color-attention, 0.5);

    svg {
      transform: scale(1.05);
    }
  }
}

.editButton {
  & svg {
    color: v.$color-info;
  }

  &:hover {
    color: v.$color-info;
    background-color: rgba(v.$color-info, 0.05);
    border-color: rgba(v.$color-info, 0.5);

    svg {
      color: v.$color-info;
      transform: scale(1.05);
    }
  }
}

.deleteButton {
  & svg {
    color: v.$color-mandatory;
  }
  &:hover {
    color: v.$color-mandatory;
    background-color: rgba(v.$color-mandatory, 0.05);
    border-color: rgba(v.$color-mandatory, 0.5);

    svg {
      color: v.$color-mandatory;
      transform: scale(1.05);
    }
  }
}

.employeeName {
  font-style: italic;
  line-height: 1.3;
}
