.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionTitle {
  color: #000;
  text-align: left;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.sectionDescription {
  color: #6e6e6e;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  padding: 0;
}

// CARD

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.field {
  position: relative;
}

.label {
  position: absolute;
  left: 35px;
  top: -50%;
  transform: translateY(80%);
  pointer-events: none;
  padding: 3px 5px;
  box-sizing: border-box;
  background: white;

  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.valueGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 30px;
  border-radius: 100000px;
  border: 1px solid #ededed;
  background: #fff;
}

.value {
  color: #000;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editButton {
  border: none;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    background: #e9e9e9;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.verificationStatus {
  height: 39px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: default;
  user-select: none;
}

.verifiedIcon {
  width: 20px;
  height: 20px;
  color: #12b981;
}

.verifiedText {
  color: #12b981;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.unverifiedIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: #f59e0b;
}

.resendButton {
  background: none;
  border: none;
  color: #3e68ff;
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: #2c5bf5;
  }
}
