@use "../../styles/variables" as v;

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.tasksContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;

  @media screen and (min-width: 1920px) {
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  }

  @media screen and (max-width: 1170px) {
    grid-template-columns: 1fr;
  }
}

.empty {
  color: v.$color-text-light;
  padding: 80px 0;
}
