:root {
  /* Цвета */
  --color-bg: #ffffff;

  --color-primary: #16a34a;
  --color-accent: linear-gradient(135deg, #22c55e 0%, #06b6d4 100%);
  --color-success: #22c55e;
  --color-danger: #ef4444;

  --color-text-main: #1f2937;
  --color-text-muted: #6b7280;
  --color-text-invert: #ffffff;

  --borer-color: #6b72801c;

  /* Типографика */
  --font-size-h1: 2.25rem; /* 36px */
  --font-size-h2: 1.875rem; /* 30px */
  --font-size-h3: 1.5rem; /* 24px */
  --font-size-h4: 1.25rem; /* 20px */

  --font-size-body: 1rem; /* 16px */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-xs: 0.75rem; /* 12px */

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;

  color: var(--color-text-main);
  background-color: var(---bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Псевдоэлемент для браузеров на основе Webkit (Chrome, Safari, Edge) */
  ::selection {
    background-color: #e5fcc2; /* Цвет фона выделенного текста (например, ярко-зеленый) */
    color: var(--color-text-main);
    text-decoration: unset;
  }

  /* Псевдоэлемент для браузеров на основе Gecko (Firefox) */
  ::-moz-selection {
    background-color: #e5fcc2;
    color: var(--color-text-main);
    text-decoration: unset;
  }
}

/* nunito */
@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-ExtraBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito/Nunito-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Nunito";
}

div {
  box-sizing: border-box;
  font-family: "Nunito";
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

input,
textarea,
button {
  font-family: "Nunito";
}
