.iconBlock {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;

  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    background: rgb(225 225 225);
  }
}
