@use "../../styles/variables" as v;

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 50px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

// Responsive Design
@media (max-width: 768px) {
  .container {
    padding: 1rem 0.5rem;
  }

  .section {
    padding: 1.5rem 1rem;
  }
}
