@use "sass:color";
@use "../../styles/variables" as v;

.dashboardPage {
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: 100vh;

  @media screen and (max-width: 1023px) {
    gap: 15px;
  }

  @media screen and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
  }
}

.kpiGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-bottom: 12px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.kpiCard {
  background-color: v.$color-white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px v.$color-shadow-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s;

  @media screen and (max-width: 1023px) {
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    transform: translateY(-2px);
  }

  .iconWrapper {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    opacity: 0.8;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .kpiValue {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.1;
  }
  .kpiTitle {
    font-size: 0.9rem;
    color: v.$color-text-light;
    margin-top: 5px;
  }
}

.green {
  .kpiValue {
    color: v.$color-primary;
  }
}
.red {
  .kpiValue {
    color: v.$color-mandatory;
  }
  .iconWrapper {
    background-color: v.$color-red-50;
    color: v.$color-mandatory;
  }
}
.yellow {
  .kpiValue {
    color: v.$color-orange-50;
  }
  .iconWrapper {
    background-color: v.$color-yellow-50;
    color: v.$color-orange-50;
  }
}
.blue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .kpiValue {
    color: v.$hover-resend;
  }
  .kpiTitle {
    align-self: flex-start;
  }
  .content {
    align-items: flex-start;
  }
}

.progressBar {
  width: 100%;
  height: 8px;
  background-color: v.$color-bg-light;
  border-radius: 4px;
  margin-top: 15px;
  overflow: hidden;

  .progressFill {
    height: 100%;
    background: linear-gradient(
      90deg,
      v.$color-accent-start,
      v.$color-accent-end
    );
    transition: width 0.5s ease-out;
  }
}

.mainContentGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
}

.sectionTitle {
  font-size: 1.1rem;
  font-weight: 600;
  color: v.$color-text-main;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid v.$color-border;
}

.problemTasksSection {
  background-color: v.$color-white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.alertIcon {
  color: v.$color-mandatory;
}

// .tasksTable {
//   display: grid;
//   grid-template-columns: 1.4fr 1.3fr 1.1fr 1fr;
//   gap: 8px;
//   font-size: 0.95rem;
//   text-align: center;

//   .headerRow {
//     font-weight: 600;
//     color: v.$color-text-light;
//     padding-bottom: 10px;
//     border-bottom: 1px solid v.$color-border;
//   }

//   .taskRow {
//     display: contents;
//     padding: 12px 0;
//     border-bottom: 1px solid color.adjust(v.$color-border, $lightness: 5%);

//     & > span {
//       padding: 10px 0;
//       white-space: nowrap;
//       overflow: hidden;
//       text-overflow: ellipsis;
//     }

//     &:last-child {
//       border-bottom: none;
//     }

//     .taskName,
//     .employeeName {
//       cursor: pointer;

//       text-decoration: underline transparent;
//       text-decoration-thickness: 1.5px;
//       transition: text-decoration-color 0.3s ease-in-out;

//       &:hover {
//         text-decoration-color: v.$color-green-500;
//       }
//     }
//   }

//   .statusCell,
//   .timeCell {
//     text-align: center;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-weight: 700;
//     border-radius: 4px;
//     padding: 4px 8px;
//     line-height: 1;
//     gap: 4px;
//   }

//   .fail {
//     color: #b91c1c;
//     background-color: v.$color-red-50;
//   }
//   .late {
//     color: v.$color-orange-50;
//     background-color: v.$color-yellow-50;
//   }
// }

.tasksTable {
  display: grid;
  grid-template-columns: 1.4fr 1.3fr 1.1fr 1fr;
  gap: 8px;
  font-size: 0.95rem;
  text-align: center;

  .headerRow {
    font-weight: 600;
    color: v.$color-text-light;
    padding-bottom: 10px;
    border-bottom: 1px solid v.$color-border;
  }

  .taskRow {
    display: contents;
    padding: 12px 0;
    border-bottom: 1px solid color.adjust(v.$color-border, $lightness: 5%);

    & > span {
      padding: 10px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:last-child {
      border-bottom: none;
    }

    .taskName,
    .employeeName {
      cursor: pointer;
      text-decoration: underline transparent;
      text-decoration-thickness: 1.5px;
      transition: text-decoration-color 0.3s ease-in-out;

      &:hover {
        text-decoration-color: v.$color-green-500;
      }
    }
  }

  .statusCell,
  .timeCell {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 4px;
    padding: 4px 8px;
    line-height: 1;
    gap: 4px;
  }

  .fail {
    color: #b91c1c;
    background-color: v.$color-red-50;
  }
  .late {
    color: v.$color-orange-50;
    background-color: v.$color-yellow-50;
  }

  // Мобильная версия
  @media (max-width: 710px) {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 64vh;
    padding-bottom: 10px;
    padding-right: 10px;
    overflow: auto;

    .headerRow {
      display: none; // Скрываем заголовки таблицы
    }

    .taskRow {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
      border: 1px solid v.$color-border;
      border-radius: 12px;
      background: v.$color_white;
      box-shadow: 0 1px 3px v.$color-shadow;
      transition: box-shadow 0.2s ease;

      &:hover {
        box-shadow: 0 4px 12px v.$color-shadow;
      }

      & > span {
        padding: 0;
        white-space: normal;
        overflow: visible;
        text-overflow: initial;
        text-align: left;
      }

      .taskName,
      .employeeName {
        font-size: 0.9375rem;

        &::before {
          content: attr(data-label);
          display: block;
          font-size: 0.75rem;
          color: v.$color-text-light;
          font-weight: 600;
          margin-bottom: 4px;
          text-transform: uppercase;
          letter-spacing: 0.5px;
        }
      }

      .taskName::before {
        content: "Задача";
      }

      .employeeName::before {
        content: "Сотрудник";
      }

      .statusCell,
      .timeCell {
        justify-content: flex-start;
        padding: 8px 12px;
        font-size: 0.875rem;
        align-self: flex-start;
      }

      .statusCell::before {
        content: "Статус: ";
        font-weight: 400;
        margin-right: 4px;
        color: v.$color-text-light;
      }

      .timeCell {
        background: v.$color-bg-light;
        color: v.$color-text-secondary;
        font-weight: 500;

        &::before {
          content: "Время: ";
          font-weight: 400;
          margin-right: 4px;
          color: v.$color-text-light;
        }
      }
    }
  }

  // Для совсем маленьких экранов
  @media (max-width: 420px) {
    .taskRow {
      padding: 14px;
      gap: 10px;

      .taskName,
      .employeeName {
        font-size: 0.875rem;

        &::before {
          font-size: 0.6875rem;
        }
      }

      .statusCell,
      .timeCell {
        padding: 6px 10px;
        font-size: 0.8125rem;
      }
    }
  }
}

.analyticsCard,
.linksCard {
  background-color: v.$color-white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px v.$color-shadow-light;
  margin-bottom: 20px;
}

.chartContainer {
  width: 100%;
  height: 220px;
  padding-top: 10px;
}

.linkList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.quickLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: v.$color-bg-light;
  border-radius: 8px;
  color: v.$color-text-main;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s;

  &:hover {
    background-color: color.adjust(v.$color-bg-light, $lightness: -1%);
    color: v.$color-primary;
  }
}
