.rightIcon {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  color: var(--color-primary);
  transition: text-decoration 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  @media screen and (max-width: 767px) {
    padding: 0 18px;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.password {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forgot {
  width: max-content;
  font-size: 0.875rem;
  color: var(--color-primary);
  margin-left: 18px;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  margin-top: 20px;
}
